<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Captcha" version="4.4.2" targetFramework="net48" />
  <package id="ReCaptcha-AspNet" version="1.9.0" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.113.3" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.113.7" targetFramework="net48" />
  <package id="Tulpep.NotificationWindow" version="1.1.37" targetFramework="net471" />
</packages>